#!/usr/bin/env xdg-open
[Desktop Entry]
Name=spotify
Exec=/usr/bin/google-chrome-stable --app=http://play.spotify.com
Icon=/home/soulmerge/.local/share/applications/spotify.png
Type=Application
